.form1 {
  width: fit-content !important;
}

.additemBtn:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: 0.7s;
}

.ImageUploadButton {
  color: rgb(4, 122, 131);
}

.ImageUploadButton:hover {
  color: rgb(8, 92, 131);
  cursor: pointer;
}
